
.profile-container {
    margin: 0 auto;
    padding: 1%;
    width: 90%;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidde;
    
}

.profile-header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}

.profile-image-container {
    position: relative;
    margin-bottom: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    position: relative;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #007BFF;
}

.upload-label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-label input[type="file"] {
    display: none;
}

.profile-info {
    width: 100%;
}

.profile-field {
    width: 100%;
    margin-bottom: 20px;
}

.profile-field label {
    display: block;
    margin-bottom: 5px;
    color: #007BFF;
}

.input-container {
    position: relative;
}

.input-container input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    outline: none;
}

.buttons-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    height: 150px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    text-align: center;
    z-index: 1000;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.popup .button {
    width: auto;
    padding: 10px 20px;
}


