
.food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.about-us {
    padding: 50px 0;
    background-color: #ffffff;
}

.about-us .text-center {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about-img {
    flex: 3;
    margin-right: 100px;
}

.about-img img {
    width: 100%;
}

.about-text {
    flex: 2;
    max-width: 600px;
}

.about-text h3 {
    color: #333;
    margin-bottom: 20px;
}

.about-text p {
    color: #666;
    line-height: 1;
    margin-bottom: 20px;
}


